@import "/src/styles.scss";

h2 {
    font-size: 2rem;
}

img {
    max-height: 90vh !important;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5rem;
    text-align: center;
    width: 235px;
    border-radius: 24px;
    opacity: 0.9;
    bottom: 36px;
}

@media only screen and (max-width: 600px) {

    button{
        scale: 0.8;
        bottom: 28px;
    }
}