<section id="galeria">
    <carousel [isAnimated]="true">
        <slide>
          <img src="assets/budynki.jpg" alt="first slide" style="display: block; width: 100%; height: 100%">
        </slide>
        <slide>
          <img src="assets/mieszkanie.jpg" alt="second slide" style="display: block; width: 100%; height: 100%">
        </slide>
        <!-- <slide>
          <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide> -->
        <button class="dziennik-budowy" mat-fab extended color="accent">
            <mat-icon>build</mat-icon>
            Dziennik budowy
        </button>
      </carousel>
</section>