.container-image {
    background-image: url('/assets/foto-glowne.jpg');
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .nazwa-oferty {
        color: white;
        font-size: 3rem;
    }

}
button{
    scale: 1.5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section {
        height: 350px;
    }

    button{
        scale: 1;
    }
}