<section fxLayout="column" fxFlex="100">
    <div class="container-image">
        <div fxLayout="column" fxLayoutAlign="center center" style="height: 100%">
            <div fxFlexOffset="50" fxFlex="20">
                <h2 class="nazwa-oferty">Nowe Rzucewo</h2>
            </div>
            <div>
                <button mat-fab extended color="accent">
                    <mat-icon>apartment</mat-icon>
                    Mieszkania
                </button>
            </div>
        </div>
    </div>
</section>